@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* navbar css starts here */
* {
  margin: 0;
  padding: 0;
}
.nav-pvt {
  padding-left: 20px;
  padding-right: 50px !important;
  font-weight: 500 !important;
}

.brand {
  font-size: 30px !important;
  color: #007eff !important;
  padding-right: 20px !important;
}

.button-left {
  margin-top: 5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-right: 20px !important;
  border-radius: 20px !important;
  border-color: #007eff !important;
  color: #007eff !important;
  font-weight: 500 !important;
}

.button-right {
  margin-top: 5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-right: 20px !important;
  border-radius: 20px !important;
  background-color: rgb(255, 119, 0) !important;
  font-weight: 500 !important;
  color: rgb(252, 252, 252) !important;
}

.button-left:hover {
  background-color: rgb(217, 228, 239) !important;
}

.button-right:hover {
  background-color: rgb(242, 115, 5) !important;
}

/* navbar css ends here */

/* contactus css starts here */
.container {
  position: relative !important;
  width: 100% !important;
  min-height: 100vh !important;
  padding: 2rem !important;
  background-color: #fafafa !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.form {
  width: 100% !important;
  max-width: 820px !important;
  background-color: #fff !important;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1) !important;
  z-index: 1000 !important;
  overflow: hidden !important;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
}

.contact-form {
  background-color: #4070f4 !important;
  position: relative !important;
}

.circle {
  border-radius: 50% !important;
  background: linear-gradient(135deg, transparent 20%, #149279) !important;
  position: absolute !important;
}

.circle.one {
  width: 130px !important;
  height: 130px !important;
  top: 130px !important;
  right: -40px !important;
}

.circle.two {
  width: 80px !important;
  height: 80px !important;
  top: 10px !important;
  right: 30px !important;
}

.contact-form:before {
  content: "" !important;
  position: absolute !important;
  width: 26px !important;
  height: 26px !important;
  background-color: #4070f4 !important;
  transform: rotate(45deg) !important;
  top: 50px !important;
  left: -13px !important;
}

form {
  padding: 2.3rem 2.2rem !important;
  z-index: 10 !important;
  overflow: hidden !important;
  position: relative !important;
}

.title {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1 !important;
  margin-bottom: 0.7rem !important;
}

.input-container {
  position: relative !important;
  margin: 1rem 0 !important;
}

.input {
  width: 100% !important;
  outline: none !important;
  border: 2px solid #fafafa !important;
  background: none !important;
  padding: 0.6rem 1.2rem !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 0.95rem !important;
  letter-spacing: 0.5px !important;
  border-radius: 25px !important;
  transition: 0.3s !important;
}

textarea.input {
  padding: 0.8rem 1.2rem !important;
  min-height: 150px !important;
  border-radius: 22px !important;
  resize: none !important;
  overflow-y: auto !important;
}

.input-container label {
  position: absolute !important;
  top: 50% !important;
  left: 15px !important;
  transform: translateY(-50%) !important;
  padding: 0 0.4rem !important;
  color: #fafafa !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  pointer-events: none !important;
  z-index: 1000 !important;
  transition: 0.5s !important;
}

.input-container.textarea label {
  top: 1rem !important;
  transform: translateY(0) !important;
}

.btns {
  padding: 0.6rem 1.3rem !important;
  background-color: #fff !important;
  border: 2px solid #fafafa !important;
  font-size: 0.95rem !important;
  color: #4070f4 !important;
  line-height: 1 !important;
  border-radius: 25px !important;
  outline: none !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  margin: 0 !important;
}

.btns:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.input-container span {
  position: absolute !important;
  top: 0 !important;
  left: 25px !important;
  transform: translateY(-50%) !important;
  font-size: 0.8rem !important;
  padding: 0 0.4rem !important;
  color: transparent !important;
  pointer-events: none !important;
  z-index: 500 !important;
}

.input-container span:before,
.input-container span:after {
  content: "" !important;
  position: absolute !important;
  width: 10% !important;
  opacity: 0 !important;
  transition: 0.3s !important;
  height: 5px !important;
  background-color: #4070f4 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.input-container span:before {
  left: 50% !important;
}

.input-container span:after {
  right: 50% !important;
}

.input-container.focus label {
  top: 0 !important;
  transform: translateY(-50%) !important;
  left: 25px !important;
  font-size: 0.8rem !important;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50% !important;
  opacity: 1 !important;
}

.contact-info {
  padding: 2.3rem 2.2rem !important;
  position: relative !important;
}

.contact-info .title {
  color: #4070f4 !important;
}

.text {
  color: #333 !important;
  margin: 1.5rem 0 2rem 0 !important;
}

.information {
  display: flex !important;
  color: #555 !important;
  margin: 0.7rem 0 !important;
  align-items: center !important;
  font-size: 0.95rem !important;
}

.icon {
  width: 28px !important;
  margin-right: 0.7rem !important;
}

.social-media {
  padding: 2rem 0 0 0 !important;
}

.social-media p {
  color: #333 !important;
}

.social-icons {
  display: flex !important;
  margin-top: 0.5rem !important;
}

.social-icons a {
  width: 35px !important;
  height: 35px !important;
  border-radius: 5px !important;
  background: linear-gradient(45deg, #4070f4, #4070f4) !important;
  color: #fff !important;
  text-align: center !important;
  line-height: 35px !important;
  margin-right: 0.5rem !important;
  transition: 0.3s !important;
}

.social-icons a:hover {
  transform: scale(1.05) !important;
}

.contact-info:before {
  content: "" !important;
  position: absolute !important;
  width: 110px !important;
  height: 100px !important;
  border: 22px solid #4070f4 !important;
  border-radius: 50% !important;
  bottom: -77px !important;
  right: 50px !important;
  opacity: 0.3 !important;
}

.big-circle {
  position: absolute !important;
  width: 500px !important;
  height: 500px !important;
  border-radius: 50% !important;
  background: linear-gradient(to bottom, #4070f4, #4070f4) !important;
  bottom: 50% !important;
  right: 50% !important;
  transform: translate(-40%, 38%) !important;
}

.big-circle:after {
  content: "" !important;
  position: absolute !important;
  width: 360px !important;
  height: 360px !important;
  background-color: #fafafa !important;
  border-radius: 50% !important;
  top: calc(50% - 180px) !important;
  left: calc(50% - 180px) !important;
}

.square {
  position: absolute !important;
  height: 400px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(181%, 11%) !important;
  opacity: 0.2 !important;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr !important;
  }

  .contact-info:before {
    bottom: initial !important;
    top: -75px !important;
    right: 65px !important;
    transform: scale(0.95) !important;
  }

  .contact-form:before {
    top: -13px !important;
    left: initial !important;
    right: 70px !important;
  }

  .square {
    transform: translate(140%, 43%) !important;
    height: 350px !important;
  }

  .big-circle {
    bottom: 75% !important;
    transform: scale(0.9) translate(-40%, 30%) !important;
    right: 50% !important;
  }

  .text {
    margin: 1rem 0 1.5rem 0 !important;
  }

  .social-media {
    padding: 1.5rem 0 0 0 !important;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem !important;
  }

  .contact-info:before {
    display: none !important;
  }

  .square,
  .big-circle {
    display: none !important;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem !important;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem !important;
  }

  .title {
    font-size: 1.15rem !important;
  }

  .social-icons a {
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .icon {
    width: 23px !important;
  }

  .input {
    padding: 0.45rem 1.2rem !important;
  }

  .btns {
    padding: 0.45rem 1.2rem !important;
  }
}

/* contactus css ends here */

/* footer css starts here */

footer{
  position: relative !important;
  background: #000000;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #ffffff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #3e3e41;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #000000;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
/* footer css ends here  */
