@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* See all details css starts here */

.poster {
  min-height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #e3f2fd !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.missing {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 20px !important;
}
.container {
  display: flex !important;
  gap: 12px !important;
  max-width: 100vw !important;
  width: 100% !important;
  background: #4070f4 !important;
  border-radius: 12px !important;
  padding: 10px !important;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1) !important;
}
.container .card {
  display: flex !important;
  flex: 0 0 100% !important;
  flex-direction: column !important;
  padding: 10px !important;
  border-radius: 12px !important;
  background: #fff !important;
  scroll-snap-align: start !important;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1) !important;
}
.card .center {
  display: flex !important;
  justify-content: center !important; /* Center horizontally */
  align-items: center !important;
  padding-top: 20px !important;
}
.card .image {
  height: 150px !important;
  width: 150px !important;
  padding: 4px !important;
  background: #4070f4 !important;
  border-radius: 0% !important;
}
.image img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  border-radius: 0% !important;
  border: 5px solid #fff !important;
}
.card h2 {
  margin-top: 25px !important;
  color: #333 !important;
  font-size: 22px !important;
  font-weight: 600 !important;
}
.card p {
  /* text-align:left !important; */
  margin-top: 4px !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #333 !important;
  /* text-align: center !important; */
}
.download {
  display: flex !important;
  width: 300px !important;
  background: #e3f2fd !important;
  align-items: center !important;
  justify-content: center !important;
}
.Confirm {
  display: flex !important;
  width: 400px !important;
  background: #e3f2fd !important;
  align-items:center !important;
  justify-content: center !important;
}
.Reject {
  display: flex !important;
  width: 300px !important;
  background: #e3f2fd !important;
  align-items:center !important;
  justify-content: center !important;
}
.button {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-right: 20px !important;
  border-radius: 20px !important;
  background-color: rgb(255, 119, 0) !important;
  font-weight: 500 !important;
  color: rgb(252, 252, 252) !important;
  font-size: 20px !important;
}

.button:hover {
  background-color: rgb(217, 228, 239);
}
/* See all details css ends here  */
